[submodule "public/vendor/boxicons"]
	path = public/vendor/boxicons
	url = https://github.com/atisawd/boxicons.git
[submodule "public/vendor/Sortable"]
	path = public/vendor/Sortable
	url = https://github.com/SortableJS/Sortable.git
