[submodule "boxicons"]
	path = vendor/boxicons
	url = https://github.com/atisawd/boxicons.git
[submodule "Sortable"]
	path = vendor/Sortable
	url = https://github.com/SortableJS/Sortable.git
[submodule "unicode-patterns"]
	path = vendor/unicode-patterns
	url = https://github.com/Zheoni/unicode-patterns.git
