<!DOCTYPE html>
<html lang="es">

<head>
	<%- include("templates/head-template"); %>
  <link rel="stylesheet" href="/stylesheets/create.css">

  <meta id="current-page" content="create">
</head>

<body>

  <%- include("templates/navbar-template"); %>

  <main>
    <h1>Crear nueva receta</h1>

    <form class="recipe-form" action="/recipe" onsubmit="return validate()" novalidate method="POST" autocomplete="off"
      enctype="multipart/form-data">
      <div class="form-item name">
        <label for="name">Nombre de la receta</label>
        <input type="text" name="recipe_name" id="name" maxlength="128" required placeholder="Nombre">
        <p class="error">El nombre es obligatorio.</p>
      </div>

      <div class="form-item author">
        <label for="author">Autor</label>
        <input type="text" name="recipe_author" id="author" maxlength="64" placeholder="Autor">
      </div>

      <div class="form-item description">
        <label for="description">Descripción</label>
        <input type="text" name="recipe_description" id="description" maxlength="256" required
          placeholder="Descripción">
        <p class="error">Una descripción es obligatoria.</p>
      </div>

      <div class="form-item ingredients">
        <label for="ingredients">Ingredientes</label>
        <div class="ingredient-container ingredient-labels">
          <div></div>
          <p class="amount">Cantidad</p>
          <p class="unit">Unidad de medida</p>
          <p class="ingredient">Ingrediente</p>
        </div>
        <ul class="ingredients-list" id="ingredients">
          <li class="form-item ingredient-container">
            <div class="handle">
              <i class="fas fa-bars fa-lg"></i>
            </div>
            <input type="number" name="amount" class="amount" min=0 step="any">
            <input type="text" name="unit" class="unit">
            <input type="text" name="ingredient" class="ingredient" required>
            <button class="button delete-button" type="button" onclick="deleteThisIngredient(this);">✕</button>
          </li>
        </ul>
        <p class="error">Al menos un ingrediente.</p>
        <button class="button" type="button" onclick="addIngredient();">Añadir ingrediente</button>
      </div>

      <div class="form-item method">
        <label for="method">Método</label>
        <textarea name="recipe_method" id="method" cols="30" rows="10" minlength="128"
          placeholder="Cada párrafo es un paso." required placeholder="Método de la receta"></textarea>
        <p class="error">Un método es obligatorio. Al menos 128 caracteres.</p>
      </div>

      <div class="form-item image">
        <label for="image">Imagen para la receta</label>
        <input type="file" name="recipe_image" id="image">
      </div>

      <div class="form-item type">
        <label for="type">Tipo de plato</label>
        <select name="recipe_type" id="type">
          <option value="none" selected>Sin especificar</option>
          <option value="starter">Entrante</option>
          <option value="main">Plato principal</option>
          <option value="dessert">Postre</option>
        </select>
      </div>

      <div class="form-item submit">
        <button class="button main-button" type="submit">Crear</button>
      </div>
    </form>
  </main>

  <%- include("templates/footer-template"); %>
  
  <script defer src="/vendor/Sortable.min.js"></script>
  <script defer src="/javascripts/recipe_form.js"></script>
</body>

</html>
