<!DOCTYPE html>
<html lang="<%= locale.locale %>">
<head>
  <%- include("templates/head-template"); %>
  <meta id="current-page" content="settings">
  <title><%= locale.title.settings %></title>
</head>
<body>
  
</body>
</html>
