.recipe-form {
  width: 100%;
}

.recipe-form > fieldset,
.recipe-form > .form-item {
  margin: 10px 0;
}

.validate:valid,
.validate:not(.invalid) {
  border-left-color: palegreen;
}

.validate:invalid,
.validate.invalid {
  border-left-color: salmon;
}

p.error {
  display: none;
  box-sizing: border-box;
  opacity: 0;
  padding: 5px;
  margin-left: 10px;
  overflow: hidden;
  transition: opacity 200ms ease-out;
  color: salmon;
}

.validate + p.error {
  display: block;
}

.validate:invalid + p.error,
.validate.invalid + p.error {
  opacity: 1;
}

:not(.validate):required {
  border-left-color: gold;
}

.ingredients-list {
  list-style: none;
  margin: -5px 0 1rem 0;
  padding: 0;
}

.ingredient-container {
  display: grid;
  grid-template-columns: 20px 20% 20% auto 43px;
  grid-template-rows: auto;
  column-gap: 5px;
  justify-items: stretch;
  align-items: center;

  border: 2px dashed transparent;
  border-radius: 7px;
}

.ingredient-container {
  position: relative;
}

.ingredient-container > * {
  margin: 0;
}

.ingredient-container > p {
  padding-left: 5px;
}

.ingredient-container:first-child:last-child .delete-button,
.ingredient-container:first-child:last-child .handle
{
  opacity: 0.1;
  border-color: black;
  background-color: initial;
  color: black;
  cursor: initial;
}

.handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  display: flex;
  align-content: center;
  justify-content: center;

  width: 20px;
  height: 1.8rem;
  border-radius: 3px;
  transition: background-color 200ms;
}

.handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.handle:hover {
  background-color: var(--borders-color, gray);
}

.handle:hover .drag-handle-dots {
  color: #6c757d;
}

.drag-handle-dots {
  color: var(--borders-color, #6c757d);
  transition: color 200ms;
}

.ingredient-labels {
  color: #6c757d;
  margin-bottom: 3px;
}

.ingredient > input {
  margin: 0 10px;
}

#general-fieldset {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "name author"
                        "desc desc"
                        "tags tags";
}

#extra-fieldset {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cooktime servings"
                       "image type";
}

.name {
  grid-area: name;
}

.author {
  grid-area: author;
}

.description {
  grid-area: desc;
}

.tags {
  grid-area: tags;
}

.cooktime {
  grid-area: cooktime;
}

.servings {
  grid-area: servings;
}

.image {
  grid-area: image;
}

.type {
  grid-area: type;
}

.submit button {
  margin: 0 auto;
}

#image-delete-warning {
  display: none;
  color: salmon;
  margin: 0 auto;
  text-align: center;
}

#delete-image[value="true"] + #image-delete-warning {
  display: block;
}

.steps-list {
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.step {
  display: grid;
  grid-template-columns: 20px auto 43px;
  grid-template-rows: auto;
  column-gap: 5px;
  justify-items: center;
  align-items: center;
  border: 2px dashed transparent;
  border-radius: 7px;
}

.step textarea {
  resize: vertical;
  min-height: 45px;
}

.step:first-child:last-child .delete-button,
.step:first-child:last-child .handle {
  opacity: 0.1;
  border-color: black;
  background-color: initial;
  color: black;
  cursor: initial;
}

.step-section {
  grid-template-columns: 20px min-content auto 43px;
  margin-top: 20px;
}

.step-section strong {
  padding: 0 15px;
}

.step-section input {
  font-size: 1.2rem;
}

.step-note textarea {
  background: cornsilk;
  width: 75%;
  justify-self: start;
}

.add-step-button {
  padding: 0;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.add-step-button::after {
  content: "\0025BC";
  pointer-events: none;
  right: 10px;
  top: 10px;
  position: absolute;
}

.add-step-button i {
  width: 40px;
  border-right: solid 1px var(--borders-color, whitesmoke);
  font-size: 1.15rem;
  padding: 11px 0;
}

.add-step-button select {
  font-size: 1rem;
  padding: 10px;
  padding-right: 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sortable-chosen {
  border-color: black;
  opacity: 0.7;
  background-color: var(--details-color, gray);
}

.sortable-drag {
  visibility: hidden;
}

#openJSONModalButton {
  float: right;
  margin-top: 15px;
}

#results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#results-list li {
  height: 50px;
  margin-top: 10px;
  background: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid var(--borders-color, black);
  border-radius: 3px;
}

#results-list li i {
  display: inline-block;
  width: 30px;
  font-size: 20px;
  margin-right: 5px;
}

#results-list li a {
  text-decoration: none;
  color: inherit;
}

#results-list li.correct {
  background: #d0f0c0;
}

#results-list li.correct i.icon {
  color: #32cd32;
}

#results-list li.error {
  background: lightpink;
}

#results-list li.error i.icon {
  color: crimson;
}

#chooseImageButton {
  padding: 5px;
}

@media only screen and (max-width: 767px) {
  
  .recipe-form > fieldset {
    display: block !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  main {
    padding-left: 5px;
    padding-right: 5px;
  }

  .form-item {
    margin-bottom: 10px;
  }
}
