:root {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  --text-primary: #23272a;
  --text-secondary: #f0f8ff;

  --navbar-primary: #343a40;
  --navbar-secondary: #454e57;
  --navbar-text: #f7f7f7;

  --bg-primary: #fffdf9;
  --bg-secondary: #2c2f33;

  --details-color: #bdc5ff;

  --borders-color: rgba(0, 0, 0, 0.125);

  --navbar-size: 4rem;
  --navbar-content-size: 3rem;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
}

main {
  padding: 1rem;
  margin: 0 auto;
  margin-top: var(--navbar-size, 4rem);
  width: 75vw;
  max-width: 900px;
}

h1, h2, h3, .autor, .link-text, footer {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 400;
}

/* Navbar */
.navbar {
  width: 100vw;
  height: var(--navbar-size, 4rem);
  position: fixed;
  top: 0;
  background-color: var(--navbar-primary, #2f2f2f);
  color: var(--navbar-text);
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  padding-left: calc(max(22px, env(safe-area-inset-left)));
  padding-right: calc(max(22px, env(safe-area-inset-right)));
  
  display: flex;
}

.navbar-nav li {
  width: max-content;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-content-size, 3rem);
  text-decoration: none;
  padding: 0 1rem;
  transition: background-color 150ms ease-in;
  color: inherit;
}

.link-text {
  font-weight: lighter;
  white-space: nowrap;
  color: inherit;
}

/* Logo */

.nav-link img {
  display: block;
  max-width: var(--navbar-content-size, 3rem);
  max-height: var(--navbar-content-size, 3rem);
  width: auto;
  height: auto;
}

.logo .link-text {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
}

/* Search bar */

.search-container {
  padding: 0 5px;
}

.searchbox {
  padding: 0 5px;
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
}

.searchbox input[type=search] {
  font-family: 'Noto Sans', sans-serif;
  float: left;
  font-size: 1rem;
  line-height: 2rem;
  border-style: none;
  outline: none;
  height: auto;
  -webkit-appearance: none;
}

.searchbox button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  float: right;
  text-decoration: none;
  color: black;
  padding: 1rem;
  margin: -0.75rem;
}


/* Burger menu */

.burger-container {
  float: right;
}

.toggle {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--navbar-content-size, 3rem);
  height: var(--navbar-content-size, 3rem);
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: var(--navbar-text, white);
  margin: 2.5px;
  border-radius: 1px;

  transition: transform 500ms ease, opacity 200ms ease-in;
}

/* Menu */

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: height 300ms ease-out;
}

/* Footer */

body {
  position: relative;
  box-sizing: border-box;
  min-height: calc(100vh - var(--navbar-size, 4rem));
  padding-bottom: var(--navbar-size, 4rem);
}

.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: var(--navbar-size, 4rem);
  width: 100%;

  background-color: var(--navbar-primary, #2f2f2f);
  color: var(--navbar-text, white);
  padding: 0.5rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0 1rem;
  text-align: center;
}

.footer a {
  color: var(--navbar-text, white);
}

.row {
  display: flex !important;
  justify-content: center;
}

.alert {
  position: relative;
  padding: 1rem;
  background: #eaeaea;
  border: 1px solid #dadada;
  border-radius: 5px;
  width: 90%;
  margin: 5px auto;
  color: #383d41;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  font-weight: 700;
  background: transparent;
  border-style: none;
  padding: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  color: inherit;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  opacity: 0;
  animation: fade-in 500ms ease-in forwards;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0;}
}

.fade-out {
  animation: fade-out 500ms ease-out forwards;
}

.hidden {
  display: none !important;
}

.button {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border: solid 1px var(--borders-color, whitesmoke);
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  transition: background-color 200ms ease;
  margin: 5px;
}

.button:hover {
  background-color: var(--borders-color, whitesmoke);
}

.main-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.main-button:hover {
  background-color: #0069d9;
}

.delete-button {
  color: #dc3545;
  border-color: #dc3545;
}

.delete-button:hover {
  color: white;
  background-color: #dc3545;
}

.edit-button {
  color: goldenrod;
  border-color: #ffc107;
}

.edit-button:hover {
  color: white;
  background-color: #ffc107;
}

.button:disabled {
  color: #ccc;
  background-color: #eee;
  border-color: #aaa;
  cursor: initial;
}

.button-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  background: rgba(0, 0, 0, 0.125);
}

.modal .modal-card {
  box-sizing: border-box;
  margin: 20vh auto;
  width: 80vw;
  max-width: 600px;
  min-height: 300px;
  background: #fefefe;
  border-radius: 15px;
  border: 1px solid var(--borders-color);
  box-shadow: 0px 0px 10px -5px black;
}

.modal .modal-card .close {
  color: #aaa;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 200ms ease;
}

.modal .modal-card .close:hover,
.modal .modal-card .close:focus {
  color: crimson;
  text-decoration: none;
}

.modal[data-prevent-closing="true"] .modal-card .close {
  color: #ddd;
  cursor: not-allowed;
}

.modal .modal-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.dummy {
  display: none !important;
}

.no-decoration {
  text-decoration: none;
}

.center-in-container {
  margin: 0 auto;
  display: block;
}
  
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tags-container.inline {
  display: inline-flex;
  margin: 0;
}

.tag {
  margin: 2px;
  padding: 4px 10px;
  color: white;
  background: var(--details-color, gray);
  white-space: nowrap;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  border-radius: 3px;
  cursor: default;
}

.system-tags .tag {
  border: solid 1px var(--borders-color);
}

.time-tag {
  background-color: darkseagreen;
}

.servings-tag {
  background-color: lightsalmon;
}

.tag.recipe-starter {
  background-color: mediumturquoise;
}

.tag.recipe-main {
  background-color: plum;
}

.tag.recipe-dessert {
  background-color: darksalmon;
}

/* Small screens */
@media only screen and (max-width: 767px) {
  :root{
    --navbar-size: 3rem;
    --navbar-content-size: 2rem;
  }

  main {
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }

  .logo-container {
    order: 1;
  }

  .logo-container .nav-link {
    flex-direction: row-reverse;
  }

  .navbar-nav {
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .navbar-nav li {
    margin: 0 2rem;
  }

  .menu {
    position: absolute;
    left: 0;
    top: var(--navbar-size, 4rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--navbar-primary, #2f2f2f);

    height: 0%;
  }

  .menu .link-text {
    font-size: min(10vh, 3rem);
    padding: 3vh;
    border: solid;
    border: 1px solid var(--navbar-secondary, #3f3f3f);
    border-radius: 10px;
    width: 60vw;
    text-align: center;
  }

  .menu .nav-link {
    height: max-content;
  }

  .menu .nav-item {
    margin-bottom: 1vh;
  }

  #burger-toggle:checked ~ .menu {
    height: calc(100vh - var(--navbar-size, 4rem));
  }

  #burger-toggle:checked ~ .burger-container .line.top {
    transform: translateY(8px) rotate(45deg);
  }

  #burger-toggle:checked ~ .burger-container .line.mid {
    opacity: 0;
  }

  #burger-toggle:checked ~ .burger-container .line.bot {
    transform: translateY(-8px) rotate(-45deg);
  }

  .footer {
    font-size: min(1rem, 3vw);
  }

  .footer p {
    margin: 0;
  }
  
  .footer p:not(:last-child) {
    margin-right: 1rem;
  }

  .mobile-hidden {
    display: none !important;
  }
}

/* Large screens */
@media only screen and (min-width: 768px) {

  .navbar-nav {
    justify-content: flex-end;
  }

  .navbar-nav > li:first-child {
    margin-right: auto;
  }

  :not(.logo).nav-link {
    border-radius: 3px;
  }

  :not(.logo).nav-link:hover {
    background-color: var(--navbar-secondary, #3f3f3f);
  }

  .navbar-nav li.active .link-text {
    font-weight: bold;
  }

  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-height: 376px) {
  .navbar {
    position: static;
  }
}

@media only print {
  .mobile-only,
  .no-print,
  nav,
  footer
  {
    display: none !important;
  }

  * {
    box-shadow: none !important;
  }
}
