<!-- Footer -->
<footer class="footer">
		<p>Made with <span style="color:#e25555"><i class='bx bxs-heart'></i></span> by <strong><a class="no-decoration" href="https://github.com/Zheoni">Francisco J. Sánchez</a></strong></p>
		<p><a href="/about"><%= locale.navigation.about %></a></p>
</footer>
