<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta name="description" content="Lugar para las recetas de la casa.">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="author" content="Francisco J. Sánchez">

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

<link rel="stylesheet" href="/stylesheets/styles.css">

<script src="https://kit.fontawesome.com/e8842d32f3.js" crossorigin="anonymous" defer></script>

<script defer src="/javascripts/common.js"></script>

<title><%= title %></title>
