<!-- Navigation -->
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo-container">
      <a href="/" class="logo nav-link">
        <img src="/images/favicon.ico" alt="">
        <span class="link-text mobile-hidden">Recetario</span>
      </a>
    </li>
    <li class="search-container mobile-hidden">
      <form class="searchbox" onsubmit="pressed();" action="javascript:void(0);">
        <input type="search" id="search-input" placeholder="Buscar">
        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
      </form>
    </li>
    <li class="menu-container">
      <input type="checkbox" id="burger-toggle" class="toggle">
      <label for="burger-toggle" class="burger-container mobile-only">
        <div class="burger">
          <div class="line top"></div>
          <div class="line mid"></div>
          <div class="line bot"></div>
        </div>
      </label>
      <ul class="menu">
        <li id="nav-home" class="nav-item">
          <a href="/" class="nav-link">
            <span class="link-text">Inicio</span>
          </a>
        </li>
        <li class="nav-item mobile-only">
          <a href="#" class="nav-link">
            <span class="link-text">Buscar</span>
          </a>
        </li>
        <li id="nav-create" class="nav-item">
          <a href="/create" class="nav-link">
            <span class="link-text">Nueva</span>
          </a>
        </li>
        <li id="nav-about" class="nav-item">
          <a href="/about" class="nav-link">
            <span class="link-text">Acerca de</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<script>
  function pressed() {
    console.log("search")
  }
</script>

<script>
  const currentPage = document.getElementById("current-page");

  if (currentPage) {
    switch (currentPage.content) {
      case "index":
        document.getElementById("nav-home").classList.add('active');
        break;
      case "create":
        document.getElementById("nav-create").classList.add('active');
        break;
      case "about":
        document.getElementById("nav-about").classList.add('active');
        break;
    }
  }
</script>
