<!-- Navigation -->
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo-container">
      <a href="#" class="logo nav-link">
        <img src="/images/favicon.ico" alt="">
        <span class="link-text mobile-hidden">Recetario</span>
      </a>
    </li>
    <li class="search-container mobile-hidden">
      <form class="searchbox" onsubmit="pressed();" action="javascript:void(0);">
        <input type="search" id="search-input" placeholder="Buscar">
        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
      </form>
    </li>
    <li class="menu-container">
      <input type="checkbox" id="toggle">
      <label for="toggle" class="burger-container mobile-only">
        <div class="burger">
          <div class="line top"></div>
          <div class="line mid"></div>
          <div class="line bot"></div>
        </div>
      </label>
      <ul class="menu">
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <span class="link-text">Inicio</span>
          </a>
        </li>
        <li class="nav-item mobile-only">
          <a href="#" class="nav-link">
            <span class="link-text">Buscar</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="link-text">Nueva</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="link-text">Acerca de</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<script>
  function pressed() {
    console.log("search")
  }
</script>