.recipe-form {
  width: 100%;

  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "name author"
                        "desc desc"
                        "tags tags"
                        "ingr ingr"
                        "method method"
                        "image type"
                        "submit submit";
}

.button {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border: solid 1px var(--borders-color, whitesmoke);
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  transition: background-color 200ms ease;
  margin: 5px;
}

.button:hover {
  background-color: var(--borders-color, whitesmoke);
}

.main-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.main-button:hover {
  background-color: #0069d9;
}

.delete-button {
  color: #dc3545;
  border-color: #dc3545;
  transition: background-color 200ms;
}

.delete-button:hover {
  color: white;
  background-color: #dc3545;
}

.delete-cross {
  font-size: 1.5rem;
  padding: 0;
  width: 40px;
  height: 40px;
  font-weight: 500;
}

.delete-cross::after {
  content: "\00D7";
}

.form-item > * {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
}

.form-item label {
  margin-bottom: 10px;
  white-space: nowrap;
}

.form-item > input,
.form-item > textarea,
.form-item > select {
  padding: 10px;
}

.form-item > input,
.form-item > textarea,
.form-item > select,
.form-item .form-input,
.input
{
  width: 100%;
  background-color: white;
  font-size: 1rem;

  border: solid 1px var(--borders-color, whitesmoke);
  border-left-width: 4px;
  border-radius: 5px;
  transition: border-color 300ms ease-out;
}

.validate:valid {
  border-left-color: palegreen;
}

.validate:invalid {
  border-left-color: salmon;
}

p.error {
  display: none;
  box-sizing: border-box;
  opacity: 0;
  padding: 5px;
  margin-left: 10px;
  overflow: hidden;
  transition: opacity 200ms ease-out;
  color: salmon;
}

.validate + p.error {
  display: block;
}

.validate:invalid + p.error,
.validate.invalid + p.error {
  opacity: 1;
}

:not(.validate):required {
  border-left-color: gold;
}

.ingredients-list {
  list-style: none;
  margin: -5px 0 1rem 0;
  padding: 0;
}

.ingredient-container {
  display: grid;
  grid-template-columns: 20px 20% 20% auto 43px;
  grid-template-rows: auto;
  column-gap: 5px;
  justify-items: stretch;

  border: 2px dashed transparent;
  border-radius: 7px;
}

.form-item.ingredient-container {
  position: relative;
}

.ingredient-container > * {
  margin: 0;
}

.ingredient-container > p {
  padding-left: 5px;
}

.ingredient-container:first-child:last-child .delete-button,
.ingredient-container:first-child:last-child .handle
{
  opacity: 0.1;
  border-color: black;
  background-color: initial;
  color: black;
  cursor: initial;
}

.handle {
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-labels {
  color: #6c757d;
  margin-bottom: 3px;
}

.ingredient > input {
  margin: 0 10px;
}

.name {
  grid-area: name;
}

.author {
  grid-area: author;
}

.description {
  grid-area: desc;
}

.tags {
  grid-area: tags;
}

.ingredients {
  grid-area: ingr;
}

.method {
  grid-area: method;
}

.image {
  grid-area: image;
}

.type {
  grid-area: type;
}

.submit {
  grid-area: submit;
}

.submit button {
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
}

#image-delete-warning {
  display: none;
  color: salmon;
  margin: 0 auto;
  text-align: center;
}

#delete-image[value="true"] + #image-delete-warning {
  display: block;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.tag-view {
  position: relative;
  margin: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  text-transform: lowercase;
  background: var(--details-color, lightgray);
  border-radius: 5px;
  transition: transform 250ms, background-color 200ms;
  cursor: default;
}

.tag-view:hover {
  background-color: powderblue; 
  transform: scale(1.1);
}

.form-input .tag-view::after {
  content: "\00D7";
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  font-weight: 700;
  background: var(--details-color, lightgray);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.tag-view button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  padding: 5px;
  border-style: none;
}

#tags-user-input {
  margin: 0 auto;
  flex-grow: 1;
  margin: 0;
  font-size: 1rem;
  padding: 10px;
  min-width: 100px;
  outline: none;
  border-style: none;
}

.steps-list {
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.step {
  display: grid;
  grid-template-columns: 20px auto 43px;
  grid-template-rows: auto;
  column-gap: 5px;
  justify-items: center;
  align-items: center;
  border: 2px dashed transparent;
  border-radius: 7px;
}

.step textarea {
  resize: vertical;
  min-height: 45px;
}

.step:first-child:last-child .delete-button,
.step:first-child:last-child .handle {
  opacity: 0.1;
  border-color: black;
  background-color: initial;
  color: black;
  cursor: initial;
}

.step-section {
  grid-template-columns: 20px min-content auto 43px;
  margin-top: 20px;
}

.step-section strong {
  padding: 0 15px;
}

.step-section input {
  font-size: 1.2rem;
}

.step-note textarea {
  background: cornsilk;
  width: 75%;
  justify-self: start;
}

.add-step-button {
  padding: 0;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.add-step-button::after {
  content: "\0025BC";
  pointer-events: none;
  right: 10px;
  top: 10px;
  position: absolute;
}

.add-step-button i {
  width: 40px;
  border-right: solid 1px var(--borders-color, whitesmoke);
  font-size: 1.15rem;
  padding: 11px 0;
}

.add-step-button select {
  font-size: 1rem;
  padding: 10px;
  padding-right: 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sortable-chosen,
.sortable-ghost {
  border-color: black;
  opacity: 0.7;
  background-color: var(--details-color, gray);
}

.sortable-drag {
  visibility: hidden;
}
